.header-div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.header-tagline {
    font-size: 16px;
    color: #2a2a2a;
    text-align: center;
    vertical-align: middle;
}

.header-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.settings-btn {
    background-color: #EEF2F7;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 2px;
    border: 5px solid rgba(238, 242, 247, 0.423);
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);  
    transition: background-color 0.5s ease;

    padding: 6px 12px;
    font-size: 14px;
}

.settings-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);  
    background-color: #e4e9f2a9;
}

.settings-icon {
    vertical-align: middle;
    width: 20px;
    height: 20px;    
    margin-right: 10px;
}