.date-ctn {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  width: 80%;
  min-height: 56px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.date-divider-ctn {
  display: flex;
  justify-content: space-between;
  columns: 2;
  align-items: center;
  margin: 4px;
  padding: 4px 4px;
}

.full-date,
.next-date {
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}

.next-date {
  color: #9a7308a8;
}

.full-date {
  color: #e6a800;
}
