.menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px;
}

.icon {
  padding: 4px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 16px;
}

.status-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 45%;
  margin: 0 auto 20px auto;
  padding: 6px;

  background-color: #dce8d8;
  border-radius: 10px;
  box-sizing: border-box;

  background-color: #dff5df;
}

.status-div.loaded {
  background-color: #7de07d;
}

.status-div.not-loaded {
  background-color: #ca6e6e;
}

.mark-loaded-btn,
.menu-btn,
.snooze-btn {
  display: flex;
  text-align: left;
  line-height: 1.2;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 250px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 4px 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease;
}

.mark-loaded-btn {
  background-color: #a9d8b8;
  border: 4px solid rgba(62, 195, 95, 0.423);
}

.mark-loaded-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #2fbd78;
}

.mark-loaded-btn[disabled] {
  background-color: #7ad196e8;
  border-color: rgba(62, 195, 95, 0.123);
  cursor: not-allowed;
  box-shadow: none;
}

.menu-btn {
  background-color: #89c2fa;
  border: 4px solid rgba(84, 146, 204, 0.423);
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #4c8dff;
}

.snooze-btn {
  background-color: #3a3f45;
  color: #fff;
}

.snooze-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #323334e8;
}

.snooze-btn[disabled] {
  background-color: #070b11;
  opacity: 0.5;
  border-color: rgba(18, 18, 18, 0.123);
  cursor: not-allowed;
  box-shadow: none;
}

.snoozed-msg-ctn {
  padding: 8px;
  margin-top: 8px;
}
