.menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.status-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 40%;
  margin: 0 auto 20px auto;
  padding: 10px 10px;

  background-color: #dce8d8;
  border-radius: 10px;
  box-sizing: border-box;

  background-color: #dff5df;
}

.mark-loaded-btn {
  display: flex;
  text-align: left;
  line-height: 1.2;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 300px;
  background-color: #a9d8b8;
  border-radius: 2px;
  border: 4px solid rgba(62, 195, 95, 0.423);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease;
}

.mark-loaded-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #2fbd78;
}

.mark-loaded-btn[disabled] {
    background-color: #7ad196e8;
    border-color: rgba(62, 195, 95, 0.123);
    cursor: not-allowed;
    box-shadow: none;
}

.menu-btn {
  display: flex;
  text-align: left;
  line-height: 1.2;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 300px;
  background-color: #89c2fa;
  border-radius: 2px;
  border: 4px solid rgba(115, 129, 142, 0.423);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease;
}

.snooze-btn {
  display: flex;
  text-align: left;
  line-height: 1.2;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 300px;
  background-color: #3a3f45;
  color: #fff;
  border-radius: 2px;
  border: 4px solid rgba(28, 27, 27, 0.423);
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease;
}

.snooze-btn:focus {
  outline: none;
}

.snooze-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #070b11;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
  background-color: #4c8dff;
}
